<div class="indirizzi-container">
  <h3>Open Day</h3>
  <div class="indirizzi-grid">
    <!-- Riga 1 -->
    <div class="indirizzo-box mano-sx">
      <img src="/mano_calendario.png" alt="mano calendario" class="mano-img mano-sinistra">
      <div class="testo-indirizzo">
        <h4>Sottotitolo 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Etiam euismod, urna eu tincidunt consectetur, nisi nisl aliquam enim, nec dictum ex nulla eu urna. Aliquam erat volutpat. Mauris euismod, sapien eu commodo cursus, enim urna facilisis massa, nec laoreet enim erat non urna. Proin dictum, enim at cursus dictum, urna erat dictum urna, nec dictum urna erat nec urna.</p>
      </div>
    </div>
    <div class="indirizzo-box empty"></div>
    <!-- Riga 2 -->
    <div class="indirizzo-box empty"></div>
    <div class="indirizzo-box mano-dx">
      <div class="testo-indirizzo">
        <h4>Sottotitolo 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
      <img src="/mano_calendario.png" alt="mano calendario" class="mano-img mano-destra">
    </div>
    <!-- Riga 3 -->
    <div class="indirizzo-box mano-sx">
      <img src="/mano_calendario.png" alt="mano calendario" class="mano-img mano-sinistra">
      <div class="testo-indirizzo">
        <h4>Sottotitolo 3</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisi eu consectetur consectetur, nisl nisl aliquam nisl, eu aliquam nisl nisl eu nisl. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
    </div>
    <div class="indirizzo-box empty"></div>
  </div>
</div>
