<!--  <div class="background-image"></div>
  
  <div class="content-container">
    <div class="calendar-header">
      <img src="/solo_calendario.png" alt="Calendario" class="calendar-main-image">
    </div>
    
    <div class="calendar-view">
      <h2 class="calendar-title">CALENDARIO</h2>
      
      <calendario></calendario>
    </div>
  </div>
 -->
  <div class="hero-wrapper">
  <div class="side-panel left">
  </div>
  
  <div class="hero-container" [ngClass]="{'bg-animate': bgAnimated}">
    <div class="calendar-header">
      <img src="/solo_calendario.png" alt="Calendario" class="calendar-main-image">
    </div>
    <calendario></calendario>
  </div>
  <div class="side-panel right"></div>
</div>