<!--  <div class="background-image"></div>
  
  <div class="content-container">
    <div class="calendar-header">
      <img src="/solo_calendario.png" alt="Calendario" class="calendar-main-image">
    </div>
    
    <div class="calendar-view">
      <h2 class="calendar-title">CALENDARIO</h2>
      
      <calendario></calendario>
    </div>
  </div>
 -->
<div class="hero-wrapper">
  <div class="hero-container" [ngClass]="{ 'bg-animate': bgAnimated }">
    <div class="calendar-header"></div>
    <h2
      style="
        color: #003672;
        font-size: 2.3rem;
        text-decoration: underline;
        width: 80%;
        font-weight: 600;
        margin-left: 20%;
      "
    >
      CALENDARIO
    </h2>
    <calendario></calendario>
    <div class="appuntamento-Territoriale" [@handAnimationTrigger]="bgAnimated">
      <img src="/rosa.png" class="rosa rosa-animata" />
      <div class="appuntamento-container">
        <div class="rightAT">

          <h2  style="color:#083D77 ;">APPUNTAMENTO</h2>
          <h2  style="color:#083D77 ;">TERRITORIALE</h2>
          <p style="color:#083D77 ;">Mercoledi 13</p>
          <p style="color:#083D77 ;">Novembre 2024</p>
          <p style="color:#083D77 ;">18.00 - 21.00</p>
        </div>
        <div class="leftAT">
          <p style="color:#083D77 ;"  >
            Presentazione generale dell'offerta formativa di tutti gli istituti
            superiori della Vallagarina presso la Scuola media Negrelli di
            Rovereto
            
          <a href="https://drive.google.com/open?id=1424oekH5QmuBLahV6THl63pGylixFdos">
            link
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
