.hero-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.side-panel {
  background-color: white;
  flex: 1;
}

.hero-container {
  width: 70%;
  min-height: 200vh; /* Mantengo l'altezza elevata per permettere lo scroll */
  background-image: url('/sfondo_Calendario.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

/* Desktop (dispositivi larghi) */
@media (min-width: 1917px) {
  .side-panel {
    display: block;
  }
  
  .hero-container {
    width: 70%;
    background-size: cover;
  }

    .calendar-header {
  /* Imposta una larghezza massima per il contenitore */
  padding-top: 0;
  max-width: 100px; /* Puoi regolare questo valore */
}
}

/* Tablet (dispositivi medi) */
@media (min-width: 577px) and (max-width: 1916px) {
  .hero-wrapper {
    flex-direction: column;
  }



  
  .side-panel {
    display: none;
  }
  
  .hero-container {
    width: 100%;
    min-height: 150vh;
    background-image: url('/sfondo_Calendario.png'), linear-gradient(to bottom, #f5f5f5, #f5f5f5);
    background-size: 100% auto, 100% 100%;
    background-position: top center, center;
    background-repeat: no-repeat, no-repeat;
  }
}

/* Telefoni (dispositivi piccoli) */
@media (max-width: 576px) {
  .hero-wrapper {
    flex-direction: column;
  }


  .side-panel {
    display: none;
  }
  
  .hero-container {
    width: 100%;
    min-height: 100vh;
    background-image: url('/sfondo_Calendario.png'), linear-gradient(to bottom, #f5f5f5, #f5f5f5);
    background-size: 100% auto, 100% 100%;
    background-position: top center, center;
    background-repeat: no-repeat, no-repeat;

  }
}


.calendar-header {
  /* Imposta una larghezza massima per il contenitore */
  padding-top: 16%;
  max-width: 700px; /* Puoi regolare questo valore */
  padding-bottom: 30%;
}

.calendar-main-image {
  /* Rendi l'immagine responsive all'interno del suo contenitore */
  width: 100%;
  height: auto; /* Mantiene le proporzioni dell'immagine */
  display: block; /* Rimuove lo spazio extra sotto l'immagine */
}