<!-- Sezione con banner scuole -->
<div id="banner-scuole">
    <img src="/mano_verde2 (1).png" alt="Banner Scuole">
</div>

<div class="container">
    <app-filtra (filtroSelezionato)="applicaFiltro($event)"></app-filtra>
    <div class="card-grid">
        @for(scuola of scuoleFiltrate(); track $index) {
        <app-card 
            [name]="scuola.name" 
            [description]="scuola.description || ''" 
            [logo]="scuola.logo?.id || ''"
            [tipo]="getTipoScuola(scuola)"
            [index]="$index"
            [id]="scuola.id"
            routerLink="{{scuola.id}}"
            >

        </app-card>
        }
    </div>
</div>