<!-- Sezione con banner scuole -->
<div id="banner-scuole" [@handAnimationTrigger]="handAnimationState">
    <div class="banner-images-container">
        <img src="/mano_verde2 (3).png" alt="Banner Scuole Sinistra" 
             class="banner-image banner-image-left" 
             [class.mobile-view]="isMobile">
        <img src="/mano_verde1 (1).png" alt="Banner Scuole Destra" 
             class="banner-image banner-image-right" 
             [class.mobile-view]="isMobile">
    </div>
</div>

<div class="container">
    <app-filtra (filtroSelezionato)="applicaFiltro($event)"></app-filtra>
    <div class="card-grid">
        @for(scuola of scuoleFiltrate(); track $index) {
        <app-card 
            [name]="scuola.name" 
            [description]="scuola.description || ''" 
            [logo]="scuola.logo?.id || ''"
            [tipo]="getTipoScuola(scuola)"
            [index]="$index"
            [id]="scuola.id"
            [isLastCard]="$index === scuoleFiltrate().length - 1"
            routerLink="{{scuola.id}}"
            >

        </app-card>
        }
    </div>
</div>