
.card-grid {
    display: flex;
    flex-wrap: wrap; /* Permette alle card di andare a capo su schermi piccoli */
    gap: 20px; /* Spazio tra le card */
    padding: 20px; /* Spazio intorno alle card */
    background-color:#F2EDCA;

  }

  .card{
    background-color: transparent;
  }