.hero-container {
  width: 70%;
  min-height: 200vh;
  background-image: url('/sfondo1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
