<div class="footer-container">
  <h2 class="contact-title">Contattaci</h2>
  
  <div class="contacts-wrapper">
    <div class="contact-info">
      <h3 class="contact-subtitle">Email</h3>
      <p class="contact-text">per informazioni puoi scrivere a:<br> info&#64;made-project.com</p>
    </div>
    
    <div class="contact-info">
      <h3 class="contact-subtitle">Numero di telefono</h3>
      <p class="contact-text">puoi contattarci al numero:<br> +39 123 456 7890</p>
    </div>
  </div>
</div>
