<div id="sfondo" class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <i class="bi bi-star-fill mb-2"></i>
                        <h3>Scuola</h3>
                        <button class="btn btn-sm btn-outline-dark">Scopri</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <i class="bi bi-rocket-takeoff mb-2"></i>
                        <h3>Calendario</h3>
                        <button class="btn btn-sm btn-outline-dark">Esplora</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <i class="bi bi-lightning mb-2"></i>
                        <h3>Mappa</h3>
                        <button class="btn btn-sm btn-outline-dark">Dettagli</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
