<div id="sfondo">
    <div class="content-container">
        <!-- Contenitore vuoto per mantenere solo l'animazione del background -->
    </div>
</div>

<!-- Sezione delle icone centrate -->
<div class="icons-section">
    <div class="icons-container">
        <div class="icon-item" routerLink="/maps">
            <img src="/Mappa.png" alt="Mappa">
            <h3><strong>Mappa</strong></h3>
        </div>
        <div class="icon-item" routerLink="/calendario">
            <img src="/Calendario.png" alt="Calendario">
            <h3><strong>Calendario</strong></h3>
        </div>
        <div class="icon-item" routerLink="/scuole">
            <img src="/Scuole.png" alt="Scuole">
            <h3><strong>Scuole</strong></h3>
        </div>
    </div>
</div>