/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

/* Applicazione del font globale */
html, body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* You can add global styles to this file, and also import other style files */
