<div class="container">

    <!-- Immagine sulla sinistra -->
<!--     <img src="assets/images/sss.png" alt="Immagine della scuola" class="immagine-scuola"> -->

    <!-- Contenuto della scuola sulla destra -->
<!--     <div class="contenuto-scuola">

    </div> -->
</div>
<app-logo-nome
[nome]="scuoleDettagliate()?.data?.name ?? ''"
[logo]="scuoleDettagliate()?.data?.logo ?? ''"
>
</app-logo-nome>
<app-image-carousel>
</app-image-carousel>

<div class="components-row">
    <app-chi-siamo class="component-item"></app-chi-siamo>
<!--     <app-info   
        [numeroTelefono]="scuoleDettagliate()?.data?.school_phones?.[1]?.number ?? ''" 
        [via]="scuoleDettagliate()?.data?.address ?? ''" 
        [nome]="scuoleDettagliate()?.data?.responsabile_orientamento ?? ''"  
        class="component-item">
    </app-info> -->
</div>
<!-- 
<div class="components-row">
    <app-eventi></app-eventi>
</div> -->

<app-video
[video]="scuoleDettagliate()?.data?.videos?.[1]?.id ?? ''"
></app-video>

<app-indirizzi></app-indirizzi>

<div class="components-row">
<app-contattaci
        [numeroTelefono]="scuoleDettagliate()?.data?.school_phones?.[0] ?? ''" 
        [email]="scuoleDettagliate()?.data?.email ?? ''" 
>

</app-contattaci>
</div>