<div class="card">
  <img src="https://api.retescuolevallagarina.it/assets/{{logo}}" class="card-img-top" alt="{{name}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-type">Tipo di scuola: {{tipo}}</p>
  </div>
  <div class="card-button-container">
   <!--  <button class="btn" (click)="goToDetails()">Dettagli</button> -->
    <label class="burger" [attr.for]="'burger-' + uniqueId">
      <input type="checkbox" [id]="'burger-' + uniqueId">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
</div>