<div class="card animate__animated animate__fadeInUp" 
     [style.background-color]="getCardColor()" 
     [style.color]="getTextColor()" 
     [style.animation-delay]="getAnimationDelay()"
     (click)="onCardClick()" 
     role="button" 
     tabindex="0" 
     (keydown.enter)="onCardClick()">
  <div class="card-content-wrapper">
    <img src="/alta_mano_verde (1).png" class="green-hand-img" alt="Mano verde">
    <div class="card-main-content">
      <img src="https://api.retescuolevallagarina.it/assets/{{logo}}" class="card-img-top" alt="{{name}}">
      <div class="card-body">
        <h5 class="card-title" [style.color]="getTextColor()">{{name}}</h5>
        <p class="card-type" [style.color]="getTextColor()">Tipo di scuola: {{tipo}}</p>
        <p class="card-text" [style.color]="getTextColor()">{{description}}</p>
      </div>
    </div>
  </div>
</div>