<div class="mani-animazione">
  <img src="/braccioLeft.png" class="mano mano-sinistra">
  <img src="/solo_mappa.png" class="libro">
  <img src="/braccioRight.png" class="mano mano-destra">
</div>

<div class="center-content">
    <h2 style="color: rgb(9, 9, 146);  text-decoration: underline; width:80%">MAPPA</h2>
    <app-maps></app-maps>
</div> 

<!--   
<div class="hero-wrapper">
  <div class="side-panel left">
  </div>
  
  <div class="hero-container" [ngClass]="{'bg-animate': bgAnimated}">
    <div class="calendar-header">
      <img src="/solo_calendario.png" alt="Calendario" class="calendar-main-image">
    </div>
    <calendario></calendario>
  </div>
  <div class="side-panel right"></div>
</div>
-->