.separatore {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 15px 0;
}

.info-sezione {
  padding: 10px;
}

h4 {
  margin-bottom: 5px;
  color: #083D77;
}

p {
  color: #083D77;
  margin-top: 5px;
}