<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="nav-link active" aria-current="page" href="#" routerLink = "/hero">
        <img src="/Logo.png" alt="Scuole" class="nav-icon logo-icon">
        <strong>IL FUTURO IN MANO</strong>
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav gap-5">
          <a class="nav-link active" aria-current="page" href="#" routerLink = "/scuole">
            <img src="/Scuole.png" alt="Scuole" class="nav-icon">
          </a>
          <a class="nav-link" href="#" routerLink = "/maps">
            <img src="/Mappa.png" alt="Mappa" class="nav-icon">
          </a>
          <a class="nav-link" href="#" routerLink = "/calendario">
            <img src="/Calendario.png" alt="Calendario" class="nav-icon">
          </a>
        </div>
      </div>
    </div>
  </nav>